@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=IBM+Plex+Sans:wght@400;700&family=Open+Sans&family=Outfit:wght@300&display=swap");

body {
  background-image: url(/assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: 0 -22%;
}
.container {
  width: 90%;
  margin: 0 auto;
}

/* ჰედერი მობილურის სურათამდე*/
header {
  padding-top: 40px;
}
.bg-pattern {
  display: none;
}
h1 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: hsla(244, 23%, 12%, 1);
  padding-top: 64px;
  padding-bottom: 20px;
}
header p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: hsla(244, 23%, 12%, 1);
}

/* მთვარი სექცია */
main {
  margin-top: 165px;
  background-color: hsla(242, 22%, 12%, 1);
  position: relative;
  height: 600px;
  border-radius: 12px;
}

.main-pic {
  width: 210px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -15%;
}

.premium {
  position: absolute;
  top: 380px;
  background-color: hsla(12, 94%, 65%, 1);
  width: 100%;
  border-radius: 12px;
}
.premium h2 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: hsla(20, 33%, 98%, 1);
  text-transform: capitalize;
  padding-top: 48px;
  padding-bottom: 12px;
}
.premeq {
  text-transform: uppercase;
}
.premium p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: hsla(20, 33%, 98%, 1);
}
.price {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
  color: white;
  padding-top: 36px;
  padding-bottom: 32px;
}

.month {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.ios {
  background-color: hsla(244, 23%, 12%, 1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsla(20, 33%, 98%, 1);
  padding: 15px 77px;
  margin-bottom: 16px;
  cursor: pointer;
}
.ios h3 {
  padding-left: 8px;
}
.android {
  background-color: hsla(20, 33%, 98%, 1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.android h3 {
  text-transform: capitalize;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.18px;
  padding-left: 12px;
}

/* Footer */
footer {
  position: absolute;
  top: 1600px;
  left: 24px;
}
footer p {
  margin-top: 32px;
  margin-bottom: 64px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
footer a {
  text-decoration: none;
  color: hsla(244, 23%, 12%, 1);
  font-weight: bold;
}
.fa-brands {
  color: hsla(244, 23%, 12%, 1);
  padding-bottom: 80px;
}
.fa-twitter,
.fa-instagram {
  padding-left: 20px;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(/assets/bg-main-tablet.png);
    background-position: 65% -124%;
  }
  .container {
    width: 90%;
  }
  h1 {
    font-size: 56px;
    line-height: 64px;
    width: 520px;
  }
  header {
    position: relative;
    width: 90%;
  }
  header p {
    width: 514px;
    font-size: 18px;
    line-height: 28px;
  }
  .bg-pattern {
    display: block;
    position: absolute;
    top: -3%;
    right: -3%;
    z-index: -1;
    width: 267px;
    height: 400px;
  }
  .head-txt {
    padding-top: 100px;
  }
  .main-pic {
    left: 20%;
  }
  main {
    background-image: url(/assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: 33% -43%;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
  }
  .premium {
    width: 400px;
    top: 136px;
    left: 24%;
  }
  .tablet-size {
    width: 300px;
  }
  footer {
    top: 1500px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    width: 900px;
    font-size: 75px;
    line-height: 88px;
  }
  header p {
    width: 800px;
  }
  .premium {
    top: 75px;
    left: 46%;
  }
  footer {
    top: 1350px;
    width: 87%;
  }
  .ios {
    transition: 0.5s;
  }
  .ios:hover {
    background-color: hsla(177, 68%, 64%, 1);
    color: hsla(20, 33%, 98%, 1);
  }
  .android {
    transition: 0.5s;
  }
  .android:hover {
    background-color: hsla(33, 100%, 70%, 1);
  }
  .fa-brands {
    transition: 0.5s;
  }
  .fa-brands:hover {
    color: hsla(33, 100%, 70%, 1);
  }
}
